footer {
  background-color: $white;
}
.footer-top,
.footer-bottom {
  padding: 50px 0;
}
.footer-bottom {
  position: relative;
  background-color: $white;
  .logo-wrap {
    img {
      object-fit: cover;
      max-width: 350px;
      max-height: 150px;
    }
  }
}
